### Project

# Persistence
/data/

# Git
!.gitkeep



### Node

# Build output
build

# Dependency directories
node_modules/

# Jest coverage
coverage/



### IDE

# Covers JetBrains IDEs
.idea
*.iml

# Covers VSCode
.vscode
